# Numerically Summarizing Data:
- Measure of Central Tendency
- Mean: sum of all values of a variable / number of observaions
- Median: middle number in ascending sorted data (if number of observations is evenr, take a mean of 2 middle numbers)
    - In presence of outlier, Median is a better metric than Mean
- Mode: most frequent observation of the variable in the dataset

### Measuring Mean and Median

In [1]:
x <- 1:11
name <- c('one', 'two', 'three', 'fout', 'five','six', 'seven', 'eight', 'nine', 'ten', 'eleven')
score <- c(82,77,90,71,62,68,74,84,94,88,96)
 
data <- data.frame(x, name, score)
data

   x  name   score
1   1 one    82
2   2 two    77
3   3 three  90
4   4 fout   71
5   5 five   62
6   6 six    68
7   7 seven  74
8   8 eight  84
9   9 nine   94
10 10 ten    88
11 11 eleven 96

In [2]:
mean(data$score)
median(data[['score']])

[1] 80.54545

[1] 82

### Creating a function to measure Mode

In [3]:
data <- c(0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,3)

#Get Vector of unique numbers from data
ux <- unique(data)
ux

[1] 0 1 2 3

In [4]:
#returns a vector of the positions of (first) matches of its first argument in its second
match(data, ux)

 [1] 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 3 4

In [5]:
#tabulate is similar to table but only generates the counts
tabulate(match(data, ux))

[1] 11  4  1  1

In [6]:
#which.max: Determines the location (index) of the (first) minimum or maximum of a numeric (or logical) vector
which.max(tabulate(match(data, ux)))

[1] 1

In [7]:
#Select that location from unique vector
ux[which.max(tabulate(match(data, ux)))]

[1] 0

#### Create function:

In [8]:
getMode <- function(x){
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}
 
getMode(data)

[1] 0

## Measure of Dispersion:
- Range:
    - The, Range, R, of a variable is the difference between the largest data value and the smallest data value
    - *Range = R = largest data value - smallest data value*
- Variance:
    - The variance measures how far each number in the set is from the mean. Variance is calculated by taking the differences between each number in the set and the mean, squaring the differences (to make them positive) and dividing the sum of the squares by the number of values in the set
    - Variance of Sample:  Is the sum of the squared deviations about the sample mean divided by the number of observations in the sample minus 1
 
- Standard Deviation:
    - A population standard deviation is obtained by taking the square root of the population variance
    - A sample standard deviation is obtained by taking the square root of the sample variance
    - A low standard deviation means that most of the numbers are very close to the average. A high standard deviation means that the numbers are spread out
- Coefficient of Variation (CV):
    - Coefficient of Variation (CV) measures the scatter in the data relative to mean
    - Always expressed as percentage

#### Sample Data Frame:

In [9]:
x <- 1:11
name <- c('one', 'two', 'three', 'fout', 'five','six', 'seven', 'eight', 'nine', 'ten', 'eleven')
score <- c(82,77,90,71,62,68,74,84,94,88,96)
 
data <- data.frame(x, name, score)
data

   x  name   score
1   1 one    82
2   2 two    77
3   3 three  90
4   4 fout   71
5   5 five   62
6   6 six    68
7   7 seven  74
8   8 eight  84
9   9 nine   94
10 10 ten    88
11 11 eleven 96

#### Measuring Range

In [10]:
#Find Range
range(data$score)
r <- max(data$score) - min(data$score)
r

[1] 62 96

[1] 34

#### Measuring Variance

In [11]:
#Variance
v.sample <- var(data$score)
v.sample

[1] 122.6727

#### Measuring variance of a Sample and Population manually:

In [12]:
#Variance of Sample Manually
n <- length(data$score)
x <- data$score
v.sample <- sum((x - mean(x))^2)/(n-1)
v.sample
 
#Variance of Population Manually
n <- length(data$score)
x <- data$score
v.population <- sum((x - mean(x))^2)/(n)
v.population

[1] 122.6727

[1] 111.5207

#### Measuring SD:

In [13]:
#Standard Deviation
sd.sample <- sd(data$score)
sd.sample

[1] 11.07577

#### Measuring SD of a Sample and Population manually:

In [14]:
#SD of Sample Manually:
sd.sample <- sqrt(v.sample)
sd.sample
 
#SD of Population Manually:
sd.population <- sqrt(v.population)
sd.population

[1] 11.07577

[1] 10.56033