# R Basics - Objects, Classes, Vectors and Lists

### 5 basic classes of objects:
- numeric (real number) 
- integer 
- complex
- character
- logical

## Numbers
Default numbers are numeric (floats).  To assign as an integer, use L suffix

#### Numeric

In [1]:
x <- 1
print(x)
class(x)

[1] 1

[1] "numeric"

#### Integer

In [2]:
x <- 1L
print(x)
class(x)

[1] 1

[1] "integer"

#### Infinity - represented as Inf

In [3]:
x <- Inf 
print(x)
class(x)

[1] Inf

[1] "numeric"

## Vectors
Vectors contain objects of the same class.  c() function creates vectors by concatenating objects together

#### Numeric

In [4]:
v <- c(0.3, 0.4, 0.5)
print(v)
class(v)

[1] 0.3 0.4 0.5

[1] "numeric"

In [5]:
v <- c(1,2,3,4,5)
print(v)
class(v)

[1] 1 2 3 4 5

[1] "numeric"

#### Integer

In [6]:
v <- c(5:45)
print(v)
class(v)

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
[26] 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

[1] "integer"

In [7]:
v <- 5:45
print(v)
class(v)

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
[26] 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

[1] "integer"

#### Complex

In [8]:
v <- c(1+0i, 2+4i)
print(v)
class(v)

[1] 1+0i 2+4i

[1] "complex"

#### Logical

In [9]:
v <- c(TRUE, TRUE, FALSE, FALSE,TRUE)
print(v)
class(v)

[1]  TRUE  TRUE FALSE FALSE  TRUE

[1] "logical"

#### Character

In [10]:
v <- c('a', 'b', 'c')
print(v)
class(v)

[1] "a" "b" "c"

[1] "character"

#### Initialize a vector with vector() function

In [11]:
v <- vector("numeric", length=10)
print(v)
class(v)

 [1] 0 0 0 0 0 0 0 0 0 0

[1] "numeric"

## Mixing objects
Mixing different classes of objects in a vector will be converted to same class

#### Implicit coercion

In [12]:
y <- c(1.5, 'a')
print(y)
class(y)

[1] "1.5" "a"

[1] "character"

In [1]:
y <- c(TRUE, 5) #TRUE is represented as 1 and FALSE as 0
print(y)
class(y)

[1] 1 5

[1] "numeric"

In [2]:
y <- c(FALSE, 5)  #TRUE is represented as 1 and FALSE as 0
print(y)
class(y)

[1] 0 5

[1] "numeric"

In [15]:
y <- c('a', TRUE)
print(y)
class(y)

[1] "a"    "TRUE"

[1] "character"

#### Explicit coercion

In [16]:
v <- 0:6
print(v)
class(v)

[1] 0 1 2 3 4 5 6

[1] "integer"

In [17]:
as.numeric(v)

[1] 0 1 2 3 4 5 6

In [18]:
as.complex(v)

[1] 0+0i 1+0i 2+0i 3+0i 4+0i 5+0i 6+0i

In [19]:
as.logical(v)

[1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [20]:
as.character(v)

[1] "0" "1" "2" "3" "4" "5" "6"

#### If object can't be coverted, it will be converted to NA

In [21]:
v <- c('a', 'b', 'c', 'd')
v

[1] "a" "b" "c" "d"

In [22]:
as.numeric(v)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA NA NA NA

In [23]:
as.logical(v)

[1] NA NA NA NA

In [24]:
as.complex(v)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA NA NA NA

## Lists
Lists can contain elements of different classes

#### Lists can be created with list() function

In [4]:
y <- list(1, 'a', TRUE, 1+5i)
print(y)

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 1+5i

#### Create empty list with vector() function

In [5]:
y <- vector("list", length=5)
print(y)

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL