# Data Frames

#### Special type of list where every element has the same length
- Every element is a column
- Like lists, data frames can store different classes of objects (unlike matrices)
- Can be created with read.table() or read.csv()
- Have a special attribute row.name
- Ca be converted to matrix with data.matrix() method

In [1]:
df <- data.frame(x = 1:4, y = c(T,T,F,F))
df

  x y
1 1  TRUE
2 2  TRUE
3 3 FALSE
4 4 FALSE

#### If row names are not specified, will default to numbered rows

In [3]:
print(df)

  x     y
1 1  TRUE
2 2  TRUE
3 3 FALSE
4 4 FALSE

#### Check number of rows and columns with nrow() and ncol() methods

In [4]:
nrow(df)

[1] 4

In [5]:
ncol(df)

[1] 2