# Data Frames

#### Special type of list where every element has the same length
- Every element is a column
- Like lists, data frames can store different classes of objects (unlike matrices)
- Can be created with read.table() or read.csv()
- Have a special attribute row.name
- Ca be converted to matrix with data.matrix() method

In [1]:
df <- data.frame(x = 1:4, y = c(T,T,F,F))
df

  x y
1 1  TRUE
2 2  TRUE
3 3 FALSE
4 4 FALSE

#### If row names are not specified, will default to numbered rows

In [2]:
print(df)

  x     y
1 1  TRUE
2 2  TRUE
3 3 FALSE
4 4 FALSE

#### Check number of rows and columns with nrow() and ncol() methods

In [3]:
nrow(df)

[1] 4

In [4]:
ncol(df)

[1] 2

## Names

#### Set row names for the data frame

In [5]:
row.names(df) <- c('row-1', 'row-2', 'row-3', 'row-4')
df

      x y
row-1 1  TRUE
row-2 2  TRUE
row-3 3 FALSE
row-4 4 FALSE

#### Check row names

In [6]:
row.names(df)

[1] "row-1" "row-2" "row-3" "row-4"

## Convert Data Frame to Matrix - elements will be coverted to 1 class

In [7]:
as.matrix(df)

      x y
row-1 1 1
row-2 2 1
row-3 3 0
row-4 4 0

## Check Data Frame Attributes with attribute() function

In [8]:
attributes(df)

$names
[1] "x" "y"

$row.names
[1] "row-1" "row-2" "row-3" "row-4"

$class
[1] "data.frame"