# Missing Values

#### Missing values represented by NA or NaN
- is.na() is used to test if object is NA
- is.nan() is used to test for NaN

#### NaN is also NA, but NA is not NaN

In [1]:
x <- c(1,2,NA,10,3)
is.na(x)

[1] FALSE FALSE  TRUE FALSE FALSE

In [2]:
is.nan(x)

[1] FALSE FALSE FALSE FALSE FALSE

NaN will return TRUE if tested for NA

In [3]:
x <- c(1,2,NaN,NA,3)
is.na(x)

[1] FALSE FALSE  TRUE  TRUE FALSE

In [4]:
is.nan(x)

[1] FALSE FALSE  TRUE FALSE FALSE

# Removing Missing Values

#### Remove with a mask

In [5]:
x <- c(1,2,NA,4,NA,5)
x

[1]  1  2 NA  4 NA  5

In [6]:
missing <- is.na(x)
missing

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE

In [7]:
x[!missing]

[1] 1 2 4 5

#### Remove with complete.cases() function

In [8]:
x <- c(1,2,NA,4,NA,5)
x

[1]  1  2 NA  4 NA  5

In [9]:
good <- complete.cases(x)
good

[1]  TRUE  TRUE FALSE  TRUE FALSE  TRUE

In [10]:
x[good]

[1] 1 2 4 5

#### complete.cases() function works with multiple objects - returns logical vector based on both objects

In [11]:
x <- c(1,2,NA,4,NA,5)
y <- c('a', 'b', NA, 'd', NA, 'f')
good <- complete.cases(x,y)
good

[1]  TRUE  TRUE FALSE  TRUE FALSE  TRUE

In [12]:
x[good]

[1] 1 2 4 5

In [13]:
y[good]

[1] "a" "b" "d" "f"

### Works similar for Matricies