# Names

#### Objects in R can have names

## Vectors with Names

In [1]:
x <- 1:3
x

[1] 1 2 3

In [2]:
names(x)

NULL

#### Assign names to each element of the vector with names() function

In [3]:
names(x) <- c('a', 'b', 'c')
print(x)

a b c
1 2 3

In [4]:
names(x)

[1] "a" "b" "c"

## Lists with Names

In [5]:
x <- list(a=1, b=2, c=3)
x

$a
[1] 1

$b
[1] 2

$c
[1] 3

## Matricies with Names

In [6]:
m <- matrix(1:4, nrow=2, ncol=2)
m

     [,1] [,2]
[1,] 1    3
[2,] 2    4

#### Matrix names are assigned with dimnames() function: using a list of a vector for rows and a vector for columns

In [7]:
dimnames(m) <- list(c('a','b'), c('c', 'd'))
m

  c d
a 1 3
b 2 4

#### Matricies row and column names can be set separately with rownames() and colnames()

In [8]:
rownames(m) <- c('x', 'y')
colnames(m) <- c('w', 'z')
m

  w z
x 1 3
y 2 4

## Data Frames with Names

- Data Frames have separatefunction for row names: row.names()
- Data Frames don't have column names, just names like lists with names() function

In [9]:
df <- data.frame(x = 1:4, y = c(T,T,F,F))
df

  x y
1 1  TRUE
2 2  TRUE
3 3 FALSE
4 4 FALSE

#### Set the names of rows with row.names()

In [10]:
row.names(df) <- c('row-1', 'row-2', 'row-3', 'row-4')
df

      x y
row-1 1  TRUE
row-2 2  TRUE
row-3 3 FALSE
row-4 4 FALSE

#### Change the names of columns with names() function

In [11]:
names(df) <- c('column-1', 'column-2')
df

      column-1 column-2
row-1 1         TRUE
row-2 2         TRUE
row-3 3        FALSE
row-4 4        FALSE