# Subsetting

- Single bracket [ ] - return an object of the same class as the original
- Double brackets [[ ]] - used to extract elements of a List or a Data Frame, returned class might be different than original
- $ is used to extract elements of a List or Data Frame by name, similar to double brackets

# Vector Subsetting

### Using numeric index

In [1]:
x <- c('a', 'b', 'c', 'c', 'd', 'a')
print(x)

[1] "a" "b" "c" "c" "d" "a"

#### Single bracket subsetting returns a character vector with single element

In [2]:
s <- x[1]
print(s)

[1] "a"

#### Can extract a sequence

In [3]:
s <- x[1:4]
print(s)

[1] "a" "b" "c" "c"

### Using logical index - mask

In [4]:
s <- x[x > 'a']
print(s)

[1] "b" "c" "c" "d"

#### 2-step with logical index vector

In [5]:
u <- (x > "a")
u

[1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE

In [6]:
x[u]

[1] "b" "c" "c" "d"

---

# List Subsetting

In [7]:
x <- list(foo = 1:4, bar = 0.5)
x

$foo
[1] 1 2 3 4

$bar
[1] 0.5

#### Use single bracket [ ] to extract foo as a list (same class as original)

In [8]:
x[1]

$foo
[1] 1 2 3 4

#### Use double bracket [[ ]] to extract the actual element and its class

In [9]:
s <- x[[1]]
print(s)

[1] 1 2 3 4

#### Extract by name with $ or [[" "]]

In [10]:
x$bar

[1] 0.5

In [11]:
x[['bar']]

[1] 0.5

#### With brackets (unlike $), can use a variable

In [12]:
name <- 'foo'
x[[name]]

[1] 1 2 3 4

#### Single brackets with name will return the same class as original

In [13]:
x['bar']

$bar
[1] 0.5

In [14]:
x[name]

$foo
[1] 1 2 3 4

### List Subseting - sequence

In [15]:
x <- list(foo = 1:4, bar = 0.5, baz = "hello")
x

$foo
[1] 1 2 3 4

$bar
[1] 0.5

$baz
[1] "hello"

#### Get the 1st and the 3rd element - Use a numeric vector to subset

In [16]:
x[c(1,3)]

$foo
[1] 1 2 3 4

$baz
[1] "hello"

### List Subsetting - nested elements

In [17]:
x <- list(a = list(10,12,14), b = c(3.14, 2.8))
print(x)

$a
$a[[1]]
[1] 10

$a[[2]]
[1] 12

$a[[3]]
[1] 14


$b
[1] 3.14 2.80

#### 2 ways to extract 14 from list 'a'

In [18]:
x[[c(1,3)]]

[1] 14

In [19]:
#First double brackets [[ ]] to get the 'a' list, then another [[ ]] to the the 3rd element of that list
x[[1]][[3]]

[1] 14

#### Extract vector element from a list

In [20]:
# Fist double brackets [[ ]] to get the vector from a list, then single bracket to get the element of the vector
x[[2]][1]

[1] 3.14

---

# Matrix Subsetting

In [2]:
x <- matrix(1:6, 2,3)
print(x)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

#### Get element in row 1, column 2 - Retunred as a vector even though using single brackets [ ]

In [5]:
s <- x[1,2]
print(s)

[1] 3

#### Get the whole row by omiting the column index

In [6]:
s <- x[1, ]
print(s)

[1] 1 3 5

#### Get the whole column by omiting the row index

In [7]:
s <- x[ ,2]
print(s)

[1] 3 4

### To get a matrix when subsetting, use drop=FALSE

In [8]:
s <- x[1,2, drop=FALSE]
print(s)

     [,1]
[1,]    3

In [ ]:
s <- x[1, ]
print(s)