# Map Family of Functions:

### Load the purrr package

In [1]:
library(purrr)

### Example of a function returning another function

In [2]:
adder_maker <- function(n){
  function(x){
    n + x
  }
}

In [3]:
adder_maker()

function(x){
    n + x
  }
<environment: 0x30c7628>

#### adder_maker(n) returns a new function with no name, where argument to the new function will be added to n

In [4]:
add2 <- adder_maker(2)
add2(5)

[1] 7

In [5]:
add3 <- adder_maker(3)
add3(5)

[1] 8

## Map family of functions applies a function to the elements of a data structure (list or vector)

### map() function returns a lists

In [6]:
x <- c(5,4,3,2,1)
map(x, function(x){
  x > 3
})

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] FALSE

[[4]]
[1] FALSE

[[5]]
[1] FALSE

In [7]:
# Same as above with lapply function()
lapply(x, function(x){
  x > 3
})

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] FALSE

[[4]]
[1] FALSE

[[5]]
[1] FALSE

### map_lgl(), map_chr(), map_dbl() functions return vectors of booleans, strings, or numbers

In [8]:
x <- c(5,4,3,2,1)
map_lgl(x, function(x){
  x > 3
})

[1]  TRUE  TRUE FALSE FALSE FALSE

In [9]:
# Same as above with sapply() function
sapply(x, function(x){
  x > 3
})

[1]  TRUE  TRUE FALSE FALSE FALSE

### map_chr()

In [10]:
x <- c(5,4,3,2,1)
map_chr(x, function(x){
  c('one', 'two', 'three', 'four', 'five')[x]
})

[1] "five"  "four"  "three" "two"   "one"

In [11]:
# Same as above with sapply() function
sapply(x, function(x){
  c('one', 'two', 'three', 'four', 'five')[x]
})

[1] "five"  "four"  "three" "two"   "one"

### map_if() function takes 2 functions as arguments
- evaluates each element to the first functions.  If element is TRUE, applies the second function

In [12]:
x <- c(5,4,3,2,1)
map_if(x, function(x){
  x %% 2 == 0
}, function(y){
  y + 100
})

[[1]]
[1] 5

[[2]]
[1] 104

[[3]]
[1] 3

[[4]]
[1] 102

[[5]]
[1] 1

###  map_if() functions always returns a list: Pipe results to unlist() to get a vector

In [13]:
x <- c(5,4,3,2,1)
map_if(x, function(x){
  x %% 2 == 0
}, function(y){
  y + 100
}) %>% unlist()

[1]   5 104   3 102   1

In [14]:
# Same as above with sapply() function
sapply(x, function(x){
  if (x %% 2 == 0){
    x + 100
  }
  else{
    x
  }
})

[1]   5 104   3 102   1

### map_at() function only applies the provided function to elements of a provided vector of indecies
- Always returns a list: pipe to unlist to get a vector

In [15]:
x <- seq(100,500, 100)
idx <- c(1, 3, 5) #Will only apply to 1st, 3rd, and 5th elements
map_at(x, idx, function(x){
  x + 50
}) %>% unlist()

[1] 150 200 350 400 550

### map2() family functions: Can be used for 2 data structures
-  First two arguments should be two vectors or lists of the same length

In [16]:
map2_chr(1:26, letters, paste)

 [1] "1 a"  "2 b"  "3 c"  "4 d"  "5 e"  "6 f"  "7 g"  "8 h"  "9 i"  "10 j"
[11] "11 k" "12 l" "13 m" "14 n" "15 o" "16 p" "17 q" "18 r" "19 s" "20 t"
[21] "21 u" "22 v" "23 w" "24 x" "25 y" "26 z"

### pmap() family of function is similar to map2(), but can provide many vectors or lists in a list

In [17]:
num <- c(1, 2, 3)
words1 <- c('one', 'two', 'three')
words2 <- c('uno', 'dos', 'tres')

pmap_chr(list(num, words1, words2), paste)
pmap_chr(list(num, words1, words2), function(x,y,z){
  paste(x,y,z, sep="-")
})

[1] "1 one uno"    "2 two dos"    "3 three tres"

[1] "1-one-uno"    "2-two-dos"    "3-three-tres"