# t-test

## General random noraml distribution
- Mean = 1000, and SD = 100

In [1]:
set.seed(23232)
r <- rnorm(100, 1000, 100)

In [2]:
# Look at summary: Mean is at 1006, a little above specified Mean
summary(r)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  642.4   930.6  1006.1  1008.2  1089.4  1299.8

## Perform t-test based on Mean = 1000
- statistic = t-statistic, 
- parameter = Degree of Freedom
- estimate = estimated Mean
- alternative = Defaults to two-sided test (Can specify greater than or less) )
- method = One sample t-test

In [3]:
tt <- t.test(r, mu = 1000)
str(tt)

List of 9
 $ statistic  : Named num 0.754
  ..- attr(*, "names")= chr "t"
 $ parameter  : Named num 99
  ..- attr(*, "names")= chr "df"
 $ p.value    : num 0.453
 $ conf.int   : atomic [1:2] 987 1030
  ..- attr(*, "conf.level")= num 0.95
 $ estimate   : Named num 1008
  ..- attr(*, "names")= chr "mean of x"
 $ null.value : Named num 1000
  ..- attr(*, "names")= chr "mean"
 $ alternative: chr "two.sided"
 $ method     : chr "One Sample t-test"
 $ data.name  : chr "r"
 - attr(*, "class")= chr "htest"

## Look at the returned Object
- Actual Mean is 1008.231
- 95% Confidence Interval at 986.5637 to 1029.8980
- p-value is 0.4528

In [4]:
tt

	One Sample t-test

data:  r
t = 0.75376, df = 99, p-value = 0.4528
alternative hypothesis: true mean is not equal to 1000
95 percent confidence interval:
  986.5637 1029.8980
sample estimates:
mean of x
 1008.231