# Covariate Creation
- Summarization vs Information loss
- Err on the side of more features
- Creating New Covariates:
    - More necessary for some methods (regression, svm) than others (classification trees)
    - Should only be done on Training set

## Creating Dummy Variables
- Example using Wage Dataset from ISLR package

In [2]:
# Lod packages
library(ISLR)
library(caret)
data(Wage)

Loading required package: lattice
Loading required package: ggplot2

In [3]:
head(Wage)

       year age maritl           race     education       region
231655 2006 18  1. Never Married 1. White 1. < HS Grad    2. Middle Atlantic
86582  2004 24  1. Never Married 1. White 4. College Grad 2. Middle Atlantic
161300 2003 45  2. Married       1. White 3. Some College 2. Middle Atlantic
155159 2003 43  2. Married       3. Asian 4. College Grad 2. Middle Atlantic
11443  2005 50  4. Divorced      1. White 2. HS Grad      2. Middle Atlantic
376662 2008 54  2. Married       1. White 4. College Grad 2. Middle Atlantic
       jobclass       health         health_ins logwage  wage
231655 1. Industrial  1. <=Good      2. No      4.318063  75.04315
86582  2. Information 2. >=Very Good 2. No      4.255273  70.47602
161300 1. Industrial  1. <=Good      1. Yes     4.875061 130.98218
155159 2. Information 2. >=Very Good 1. Yes     5.041393 154.68529
11443  2. Information 1. <=Good      1. Yes     4.318063  75.04315
376662 2. Information 2. >=Very Good 1. Yes     4.845098 127.11574

In [6]:
# Partition Data
set.seed(32323)

inTrain <- createDataPartition(y = Wage$wage, p = 0.7, list = FALSE)
training <- Wage[inTrain,]
testing <- Wage[-inTrain,]

In [7]:
# Convert factor Variables into indicator Variables
table(training$jobclass)

 1. Industrial 2. Information
          1084           1018

In [8]:
# Create Dummy Variables
dummies <- dummyVars(wage ~ jobclass, data = training)
dummies

Dummy Variable Object

Formula: wage ~ jobclass
2 variables, 1 factors
Variables and levels will be separated by '.'
A less than full rank encoding is used

In [9]:
train_dummy <- predict(dummies, newdata = training)
head(train_dummy)

       jobclass.1. Industrial jobclass.2. Information
86582  0                      1
155159 0                      1
11443  0                      1
376662 0                      1
450601 1                      0
377954 0                      1

<hr>

## Removing Zero Covariates
- Removing Variable with no Variability
- region: No Variability, all from Middle Atlantic.  Can exclude that Variable

In [12]:
nzv <- nearZeroVar(training, saveMetrics = TRUE)
nzv

           freqRatio percentUnique zeroVar nzv
year       1.071642   0.33301618   FALSE   FALSE
age        1.068493   2.90199810   FALSE   FALSE
maritl     3.199561   0.23786870   FALSE   FALSE
race       8.417476   0.19029496   FALSE   FALSE
education  1.418947   0.23786870   FALSE   FALSE
region     0.000000   0.04757374    TRUE    TRUE
jobclass   1.064833   0.09514748   FALSE   FALSE
health     2.462932   0.09514748   FALSE   FALSE
health_ins 2.347134   0.09514748   FALSE   FALSE
logwage    1.062500  19.36251189   FALSE   FALSE
wage       1.062500  19.36251189   FALSE   FALSE