# Reading Data

- read.table, read.csv to read tabular data (inverse of write.table)
- readLines, to read lines of text file (inverse of writeLines)
- source, to read in R code files (inverse of dump)
- dget, to read in R code files (invesre of dput)
- unserialize, to read single R object in binary form (inverse of serialize)

## read.table() function arguments:
- file, name of file
- header, logical indicator if the file has a header line
- sep, indicate how columns are separated
- colClasses, character vector indicating class of each column
- nrows, number of rows
- comment.char, character string indicating comment character. Set to "", if there are no comment lines in the file
- skip, number of lines to skip
- stringsAsFactors, should character variables be coded as factors (default is TRUE)

## Reading in Larger Datasets
- use colClasses argument to specify classes of each column to make it run much faster
- read in a part of the file with nrows, then assign class to each column in the data

In [1]:
initial <- read.table("Data/team_standings.csv", sep=',', nrows=10, header=TRUE)
initial

   Standing Team
1   1       Spain
2   2       Netherlands
3   3       Germany
4   4       Uruguay
5   5       Argentina
6   6       Brazil
7   7       Ghana
8   8       Paraguay
9   9       Japan
10 10       Chile

In [2]:
classes <- sapply(initial, class)
classes

 Standing      Team
"integer"  "factor"

In [3]:
fullData <- read.table("Data/team_standings.csv", sep=',', header=TRUE, colClasses=classes)
fullData

   Standing Team
1   1       Spain
2   2       Netherlands
3   3       Germany
4   4       Uruguay
5   5       Argentina
6   6       Brazil
7   7       Ghana
8   8       Paraguay
9   9       Japan
10 10       Chile
11 11       Portugal
12 12       USA
13 13       England
14 14       Mexico
15 15       South Korea
16 16       Slovakia
17 17       Ivory Coast
18 18       Slovenia
19 19       Switzerland
20 20       South Africa
21 21       Australia
22 22       New Zealand
23 23       Serbia
24 24       Denmark
25 25       Greece
26 26       Italy
27 27       Nigeria
28 28       Algeria
29 29       France
30 30       Honduras
31 31       Cameroon
32 32       North Korea

### read.csv() function:
- identical to read.table() except that the default separator is a comma and header is defalut to TRUE

In [4]:
data <- read.csv("Data/team_standings.csv")
data

   Standing Team
1   1       Spain
2   2       Netherlands
3   3       Germany
4   4       Uruguay
5   5       Argentina
6   6       Brazil
7   7       Ghana
8   8       Paraguay
9   9       Japan
10 10       Chile
11 11       Portugal
12 12       USA
13 13       England
14 14       Mexico
15 15       South Korea
16 16       Slovakia
17 17       Ivory Coast
18 18       Slovenia
19 19       Switzerland
20 20       South Africa
21 21       Australia
22 22       New Zealand
23 23       Serbia
24 24       Denmark
25 25       Greece
26 26       Italy
27 27       Nigeria
28 28       Algeria
29 29       France
30 30       Honduras
31 31       Cameroon
32 32       North Korea