# Getting Flat Files Online

- Using the read_fwf() function to read the file
- Since it's a flat file, will need to provide column width separation
- “Extended Best Tracks” for the North Atlantic are hurricane tracks that include both the best estimate of the the storm (northeast, northwest, southeast, southwest) at each measurement point

### Load the packages: readr and dplyr

In [1]:
library(readr)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
#Get the URL
url <- paste0("http://rammb.cira.colostate.edu/research/",
              "tropical_cyclones/tc_extended_best_track_dataset/",
              "data/ebtrk_atlc_1988_2015.txt")

In [3]:
# Create a vector of the width of each column 
ext_tracks_widths <- c(7,10,2,2,3,5,5,6,4,5,4,4,5,3,4,3,3,3,4,3,3,3,4,3,3,3,2,6,1)

In [4]:
# Create a vector of column names, based on the online documentation for this data 
ext_tracks_colnames <- c("storm_id", "storm_name", "month", "day", "hour", "year", 
                         "latitude", "longitude", "max_wind", "min_pressure", "rad_max_wind", 
                         "eye_diameter", "pressure_1", "pressure_2", 
                         paste ("radius_34" , c("ne", "se", "sw", "nw"), sep = "_"), 
                         paste ("radius_50" , c("ne", "se", "sw", "nw"), sep = "_"), 
                         paste ("radius_64" , c("ne", "se", "sw", "nw"),sep = "_"), 
                         "storm_type", "distance_to_land", "final")

In [5]:
# Read the file in from its url 
ext_tracks <- read_fwf(url, fwf_widths(ext_tracks_widths, ext_tracks_colnames), na = "-99")

Parsed with column specification:
cols(
  .default = col_integer(),
  storm_id = col_character(),
  storm_name = col_character(),
  month = col_character(),
  day = col_character(),
  hour = col_character(),
  latitude = col_double(),
  longitude = col_double(),
  storm_type = col_character(),
  final = col_character()
)
See spec(...) for full column specifications.

In [6]:
class(ext_tracks)

[1] "tbl_df"     "tbl"        "data.frame"

In [7]:
head(ext_tracks)

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0188   ALBERTO    08    05  18   1988 32.0     77.5      20
2 AL0188   ALBERTO    08    06  00   1988 32.8     76.2      20
3 AL0188   ALBERTO    08    06  06   1988 34.0     75.2      20
4 AL0188   ALBERTO    08    06  12   1988 35.2     74.6      25
5 AL0188   ALBERTO    08    06  18   1988 37.0     73.5      25
6 AL0188   ALBERTO    08    07  00   1988 38.7     72.4      25
  min_pressure ⋯ radius_50_se radius_50_sw radius_50_nw radius_64_ne
1 1015         ⋯ 0            0            0            0
2 1014         ⋯ 0            0            0            0
3 1013         ⋯ 0            0            0            0
4 1012         ⋯ 0            0            0            0
5 1011         ⋯ 0            0            0            0
6 1009         ⋯ 0            0            0            0
  radius_64_se radius_64_sw radius_64_nw storm_type distance_to_land final
1 0            0            0            *          218              .
2 0            0            0            *          213              .
3 0            0            0            *          149              .
4 0            0            0            *          126              .
5 0            0            0            *          197              .
6 0            0            0            *          193              .

In [8]:
ext_tracks[1:3, 1:12]

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0188   ALBERTO    08    05  18   1988 32.0     77.5      20
2 AL0188   ALBERTO    08    06  00   1988 32.8     76.2      20
3 AL0188   ALBERTO    08    06  06   1988 34.0     75.2      20
  min_pressure rad_max_wind eye_diameter
1 1015         NA           NA
2 1014         NA           NA
3 1013         NA           NA

### Manipulate Data with dplyr:
- Print a sample of four rows of data from Hurricane Katrina, with, for each row, the date and time, maximum wind speed, minimum pressure, and the radius of maximum winds of the storm for that observation:

In [9]:
ext_tracks %>% 
filter(storm_name == "KATRINA") %>% 
select(month, day, hour, max_wind, min_pressure, rad_max_wind) %>% 
sample_n(5)

  month day hour max_wind min_pressure rad_max_wind
1 11    01  00    20      1010         90
2 08    25  06    50       997         30
3 08    24  12    35      1006         55
4 08    30  18    30       990         NA
5 08    29  00   140       905         20

### Wrtite to save as a csv file:

In [10]:
write_csv(ext_tracks, "Data/hurricane_data.csv")

#### Read back in

In [11]:
data <- read_csv("Data/hurricane_data.csv")
head(data)

Parsed with column specification:
cols(
  .default = col_integer(),
  storm_id = col_character(),
  storm_name = col_character(),
  month = col_character(),
  day = col_character(),
  hour = col_character(),
  latitude = col_double(),
  longitude = col_double(),
  storm_type = col_character(),
  final = col_character()
)
See spec(...) for full column specifications.

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0188   ALBERTO    08    05  18   1988 32.0     77.5      20
2 AL0188   ALBERTO    08    06  00   1988 32.8     76.2      20
3 AL0188   ALBERTO    08    06  06   1988 34.0     75.2      20
4 AL0188   ALBERTO    08    06  12   1988 35.2     74.6      25
5 AL0188   ALBERTO    08    06  18   1988 37.0     73.5      25
6 AL0188   ALBERTO    08    07  00   1988 38.7     72.4      25
  min_pressure ⋯ radius_50_se radius_50_sw radius_50_nw radius_64_ne
1 1015         ⋯ 0            0            0            0
2 1014         ⋯ 0            0            0            0
3 1013         ⋯ 0            0            0            0
4 1012         ⋯ 0            0            0            0
5 1011         ⋯ 0            0            0            0
6 1009         ⋯ 0            0            0            0
  radius_64_se radius_64_sw radius_64_nw storm_type distance_to_land final
1 0            0            0            *          218              .
2 0            0            0            *          213              .
3 0            0            0            *          149              .
4 0            0            0            *          126              .
5 0            0            0            *          197              .
6 0            0            0            *          193              .

In [12]:
class(data)

[1] "tbl_df"     "tbl"        "data.frame"