# Basic Data Manipulation with dplyr

### Load required Tidyverse packages

In [1]:
library(readr)
library(dplyr)
library(tibble)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### Read in Hurricane Data that was saved as a csv file from a flat file online

In [2]:
hurricane <- read_csv("Data/hurricane_data.csv")
hurricane[1:5, 1:10]

Parsed with column specification:
cols(
  .default = col_integer(),
  storm_id = col_character(),
  storm_name = col_character(),
  month = col_character(),
  day = col_character(),
  hour = col_character(),
  latitude = col_double(),
  longitude = col_double(),
  storm_type = col_character(),
  final = col_character()
)
See spec(...) for full column specifications.

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0188   ALBERTO    08    05  18   1988 32.0     77.5      20
2 AL0188   ALBERTO    08    06  00   1988 32.8     76.2      20
3 AL0188   ALBERTO    08    06  06   1988 34.0     75.2      20
4 AL0188   ALBERTO    08    06  12   1988 35.2     74.6      25
5 AL0188   ALBERTO    08    06  18   1988 37.0     73.5      25
  min_pressure
1 1015
2 1014
3 1013
4 1012
5 1011

#### Convert data frame into a local data frame (tibble) with as_tibble(), used to be tbl_df()
- Doesn't display roperly in Jupyter notebook

In [3]:
hurricane <- as_tibble(hurricane)
head(hurricane)

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0188   ALBERTO    08    05  18   1988 32.0     77.5      20
2 AL0188   ALBERTO    08    06  00   1988 32.8     76.2      20
3 AL0188   ALBERTO    08    06  06   1988 34.0     75.2      20
4 AL0188   ALBERTO    08    06  12   1988 35.2     74.6      25
5 AL0188   ALBERTO    08    06  18   1988 37.0     73.5      25
6 AL0188   ALBERTO    08    07  00   1988 38.7     72.4      25
  min_pressure ⋯ radius_50_se radius_50_sw radius_50_nw radius_64_ne
1 1015         ⋯ 0            0            0            0
2 1014         ⋯ 0            0            0            0
3 1013         ⋯ 0            0            0            0
4 1012         ⋯ 0            0            0            0
5 1011         ⋯ 0            0            0            0
6 1009         ⋯ 0            0            0            0
  radius_64_se radius_64_sw radius_64_nw storm_type distance_to_land final
1 0            0            0            *          218              .
2 0            0            0            *          213              .
3 0            0            0            *          149              .
4 0            0            0            *          126              .
5 0            0            0            *          197              .
6 0            0            0            *          193              .

# Selecting Columns and Filtering Rows:
- Filter: to subset Rows
- Select: to subset Columns

### Example using Base R:
- Looking at time, date, and maximum winds for Katrina of the Hurricane Data

In [4]:
katrina <- hurricane[hurricane$storm_name == "KATRINA", ]
katrina <- katrina[ , c('month', 'day', 'hour', 'max_wind')]
head(katrina)

  month day hour max_wind
1 10    28  18   30
2 10    29  00   30
3 10    29  06   30
4 10    29  12   30
5 10    29  18   35
6 10    30  00   35

In [5]:
#Same as above in one line:
katrina <- hurricane[hurricane$storm_name == "KATRINA", c('month', 'day', 'hour', 'max_wind')]
head(katrina)

  month day hour max_wind
1 10    28  18   30
2 10    29  00   30
3 10    29  06   30
4 10    29  12   30
5 10    29  18   35
6 10    30  00   35

### Example using dplyr without Piping

In [6]:
#Filter to get rows of only Katrina: 
katrina <- filter(hurricane, storm_name == "KATRINA")
#Select the columns:
katrina <- select(katrina, month, day, hour, max_wind)
head(katrina)

  month day hour max_wind
1 10    28  18   30
2 10    29  00   30
3 10    29  06   30
4 10    29  12   30
5 10    29  18   35
6 10    30  00   35

In [7]:
#Same as above in one line
katrina <- select(filter(hurricane, storm_name == "KATRINA"), month, day, hour, max_wind)
head(katrina)

  month day hour max_wind
1 10    28  18   30
2 10    29  00   30
3 10    29  06   30
4 10    29  12   30
5 10    29  18   35
6 10    30  00   35

### Example using dplyr and Piping

In [8]:
katrina <- hurricane %>% 
  filter(storm_name == "KATRINA") %>%
  select(month, day, hour, max_wind)

head(katrina)

  month day hour max_wind
1 10    28  18   30
2 10    29  00   30
3 10    29  06   30
4 10    29  12   30
5 10    29  18   35
6 10    30  00   35

<hr>

# Using select() function:

In [9]:
hurricane %>% 
  select(storm_name, month, day, hour, year, latitude, longitude, max_wind) %>%
  head()

  storm_name month day hour year latitude longitude max_wind
1 ALBERTO    08    05  18   1988 32.0     77.5      20
2 ALBERTO    08    06  00   1988 32.8     76.2      20
3 ALBERTO    08    06  06   1988 34.0     75.2      20
4 ALBERTO    08    06  12   1988 35.2     74.6      25
5 ALBERTO    08    06  18   1988 37.0     73.5      25
6 ALBERTO    08    07  00   1988 38.7     72.4      25

### Using arguments to select columns based on criteria:
- "starts_with": Select all columns that Start with specified string
- "ends_with": Select all columns that Eend with specified string
- "contains":  Select all columns that Contain the specified string
- "matches": Select all columns that Match a specified Regular Expression

#### Select all columns with radius to which winds of 34 knots or more extend

In [10]:
hurricane %>% 
  select(storm_name, latitude, longitude, starts_with("radius_34")) %>%
  sample_n(5)

  storm_name latitude longitude radius_34_ne radius_34_se radius_34_sw
1 OTTO       29.6     47.9      275            0            0
2 IVAN       32.8     75.8        0            0            0
3 EDOUARD    37.1     34.2        0            0            0
4 ANDREW     24.4     64.2       75           50           50
5 BERTHA     29.8     62.5      150          150          120
  radius_34_nw
1 300
2  75
3   0
4  75
5 120

<hr>

# Using filter() function:

In [11]:
hurricane %>% 
  filter(storm_name == "KATRINA") %>%
  head()

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL1599   KATRINA    10    28  18   1999 11.4     80.9      30
2 AL1599   KATRINA    10    29  00   1999 11.6     81.6      30
3 AL1599   KATRINA    10    29  06   1999 12.0     82.0      30
4 AL1599   KATRINA    10    29  12   1999 12.6     82.6      30
5 AL1599   KATRINA    10    29  18   1999 13.2     82.9      35
6 AL1599   KATRINA    10    30  00   1999 13.8     83.4      35
  min_pressure ⋯ radius_50_se radius_50_sw radius_50_nw radius_64_ne
1 1001         ⋯ 0            0            0            0
2 1001         ⋯ 0            0            0            0
3 1001         ⋯ 0            0            0            0
4 1000         ⋯ 0            0            0            0
5 1000         ⋯ 0            0            0            0
6  999         ⋯ 0            0            0            0
  radius_64_se radius_64_sw radius_64_nw storm_type distance_to_land final
1 0            0            0            *          252              .
2 0            0            0            *          233              .
3 0            0            0            *          180              .
4 0            0            0            *          100              .
5 0            0            0            *           65              .
6 0            0            0            *           11              .

### Using arguments to select columns based on criteria:
- Use Logical Operators to return Rows that meet those conditions
- Common Operators: ==, !=, >, >=, <, <= 
- %in%:  Included in.  storm_name %in% c("KATRINA", "ANDREW")
- is.na(): Missing Value. is.na(radius_34_ne)

#### Select all rows that include Storm Names "Katrina" and "Andrew" with radius to which winds of 34 knots or more extend:

In [12]:
hurricane %>% 
  filter(storm_name %in% c("KATRINA", "ANDREW")) %>%
  head()

  storm_id storm_name month day hour year latitude longitude max_wind
1 AL0492   ANDREW     08    16  18   1992 10.8     35.5      25
2 AL0492   ANDREW     08    17  00   1992 11.2     37.4      30
3 AL0492   ANDREW     08    17  06   1992 11.7     39.6      30
4 AL0492   ANDREW     08    17  12   1992 12.3     42.0      35
5 AL0492   ANDREW     08    17  18   1992 13.1     44.2      35
6 AL0492   ANDREW     08    18  00   1992 13.6     46.2      40
  min_pressure ⋯ radius_50_se radius_50_sw radius_50_nw radius_64_ne
1 1010         ⋯ 0            0            0            0
2 1009         ⋯ 0            0            0            0
3 1008         ⋯ 0            0            0            0
4 1006         ⋯ 0            0            0            0
5 1003         ⋯ 0            0            0            0
6 1002         ⋯ 0            0            0            0
  radius_64_se radius_64_sw radius_64_nw storm_type distance_to_land final
1 0            0            0            *          1602             .
2 0            0            0            *          1593             .
3 0            0            0            *          1532             .
4 0            0            0            *          1368             .
5 0            0            0            *          1275             .
6 0            0            0            *          1183             .

In [13]:
hurricane %>% 
  select(storm_name, year, month, day, max_wind) %>%
  filter(storm_name == "ANDREW" & max_wind >= 137)

  storm_name year month day max_wind
1 ANDREW     1992 08    23  145
2 ANDREW     1992 08    23  150