# The "stringr" package
- Part of Tidyverse
- Uses data first approach
- str_ family of functions

In [1]:
library(stringr)

### Using str_extract() function
- Returns a sub-string that matches  the provided regex

In [2]:
state_tbl <- paste(state.name, state.area, state.abb)
head(state_tbl)

[1] "Alabama 51609 AL"     "Alaska 589757 AK"     "Arizona 113909 AZ"
[4] "Arkansas 53104 AR"    "California 158693 CA" "Colorado 104247 CO"

In [3]:
str_extract(state_tbl, "[0-9]+")

 [1] "51609"  "589757" "113909" "53104"  "158693" "104247" "5009"   "2057"
 [9] "58560"  "58876"  "6450"   "83557"  "56400"  "36291"  "56290"  "82264"
[17] "40395"  "48523"  "33215"  "10577"  "8257"   "58216"  "84068"  "47716"
[25] "69686"  "147138" "77227"  "110540" "9304"   "7836"   "121666" "49576"
[33] "52586"  "70665"  "41222"  "69919"  "96981"  "45333"  "1214"   "31055"
[41] "77047"  "42244"  "267339" "84916"  "9609"   "40815"  "68192"  "24181"
[49] "56154"  "97914"

### Using str_order() function
- Returns a numeric vector that corresponds to the alphabetical order of the strings in the provided vector

In [4]:
head(state.name)
str_order(state.name)

[1] "Alabama"    "Alaska"     "Arizona"    "Arkansas"   "California"
[6] "Colorado"

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [5]:
head(state.abb)
str_order(state.abb)

[1] "AL" "AK" "AZ" "AR" "CA" "CO"

 [1]  2  1  4  3  5  6  7  8  9 10 11 15 12 13 14 16 17 18 21 20 19 22 23 25 24
[26] 26 33 34 27 29 30 31 28 32 35 36 37 38 39 40 41 42 43 44 46 45 47 49 48 50

### Using str_pad() function
- Pads string with other characters, usefull when printing

In [6]:
str_pad("Thai", width = 8, side = 'left', pad = "-")
str_pad("Thai", width = 8, side = 'right', pad = "-")
str_pad("Thai", width = 8, side = 'both', pad = "-")

[1] "----Thai"

[1] "Thai----"

[1] "--Thai--"

### Using str_to_title() function
- Puts strings into Title Case

In [7]:
cases <- c("ALL CAPS", "all low", "All Title Case")
str_to_title(cases)

[1] "All Caps"       "All Low"        "All Title Case"

### str_trim() function
- deletes witespace from both sides of a string

In [8]:
to_trim <- c("     left", "right     ", "    both     ")
to_trim

[1] "     left"     "right     "    "    both     "

In [9]:
str_trim(to_trim)

[1] "left"  "right" "both"

### str_wrap() function
- Inserts newlines in strings so that when the string is printed each line's length is limited

In [10]:
pasted_states <- paste(state.name[1:20], collapse = " ")
pasted_states

[1] "Alabama Alaska Arizona Arkansas California Colorado Connecticut Delaware Florida Georgia Hawaii Idaho Illinois Indiana Iowa Kansas Kentucky Louisiana Maine Maryland"

In [11]:
# Use cat() to not print the new line (\n ) character
str_wrap(pasted_states, width = 80)

[1] "Alabama Alaska Arizona Arkansas California Colorado Connecticut Delaware Florida\nGeorgia Hawaii Idaho Illinois Indiana Iowa Kansas Kentucky Louisiana Maine\nMaryland"

In [12]:
cat(str_wrap(pasted_states, width = 80))

Alabama Alaska Arizona Arkansas California Colorado Connecticut Delaware Florida
Georgia Hawaii Idaho Illinois Indiana Iowa Kansas Kentucky Louisiana Maine
Maryland

In [13]:
cat(str_wrap(pasted_states, width = 30))

Alabama Alaska Arizona
Arkansas California Colorado
Connecticut Delaware Florida
Georgia Hawaii Idaho Illinois
Indiana Iowa Kansas Kentucky
Louisiana Maine Maryland

### word() function
- Index each word in a string as if it were a vector

In [14]:
txt <- "It was the best of times it was the worst of times"

word(txt, 2)

[1] "was"

In [15]:
word(txt, end = 3)

[1] "It was the"

In [16]:
word(txt, start = 7, end = 12)

[1] "it was the worst of times"